*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#number{
    font-size: 50px;
}

button{
    padding: 10px;
}

.btn{
    display: flex;
    gap: 30px;
}